body {
    display: flex;
    flex-direction: column; /* Optional: to arrange children in a column */
  }
  
  main {
    display: flex;
    flex-direction: row;
    flex: auto;
    /* flex: 1; Optional: to make main take up remaining space */
  }
article{
  flex: 2; /* Optional: to make article take up remaining space */
}
aside{
  flex: 1; /* Optional: to make aside take up remaining space */
}