body {
    display: flex;
    flex-direction: column; /* Optional: to arrange children in a column */
    height: 100vh;
  }
  /* header, footer {
    flex: none !important;
  } */
   .logo{
    display: block !important;
   }
  main {
    border-radius: 18px ;
    border: 20px rgb(222, 224, 222) solid !important;
    display: flex;
    flex-direction: row;
    flex: auto;
  
    /* flex: 1; Optional: to make main take up remaining space */
  }
article{
  border-radius: 8px !important;
  /* border: yellow solid  !important;
   */
  /* border: 10px yellow solid !important; */
  
  flex: 2; /* Optional: to make article take up remaining space */
  overflow-y: auto !important;
}
aside{
  flex: 1; /* Optional: to make aside take up remaining space */
  overflow-y: auto;
  /* border: 10px purple solid !important; */
}
h2.play{
	cursor: pointer;
	font-size: 18px;
  color: #002B56;
  background-color: #05f283 !important;
  border: 2px solid #05f283!important;
  /* width: 120px; */
  border-radius: 25px;
  padding: 8px 13px 10px !important;
  display: inline-flex;
}
.play-icon{
  margin-left: 8px;
}
h2.play:hover{
  background-color: purple !important;
  border-color: purple!important;
  color: #ffffff;
}